:root {
  --bg-dark-primary: #1c1e29;
  --bg-dark-secondary: #282a36;
  --primary: #4aee88;
  --primary-dark: #2b824c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}